<ion-header [translucent]="true">
  <ion-toolbar color="">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="tl">POKEDEX</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" >

<ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterPokemones(searchTerm)"></ion-searchbar>

  <div class="bg-color-panel heigth-head">
    <ion-list color="transparent">
      <ion-item color="transparent" lines="none">
          <ion-button *ngFor="let cat of listCategorys" class="" color="primary">{{cat.name}}</ion-button>
      </ion-item>
    </ion-list>
  </div>

 <ion-list>
  <ion-item lines="">
    <div class="ion-text-center">
      <ion-title color="primary" class="tl">POKEMONES</ion-title>
    </div>

  </ion-item>
  <ion-item lines="none">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card *ngFor="let poked of listPokemones" (click)="navigate(poked)">
            <ion-card-content>
              <ion-grid fixed >

                <ion-row >
                  
                  <ion-col size="6">
                      <img src="{{poked.url_imag}}" alt="" style="width: 100%; max-width: 200px; height: auto;">
                  </ion-col>

                  <ion-col size="6">
                    <ion-text color="primary">
                      <h2>{{poked.nombre}}</h2>
                    </ion-text>
                  </ion-col>
                  
                </ion-row>

              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-item>
 </ion-list>
</ion-content>
